@use '@fontsource/source-sans-pro';
@import '@fontsource/source-sans-pro/300.css';
@import '@fontsource/source-sans-pro/600.css';
@import '@fontsource/source-sans-pro/700.css';
@import '@fontsource/source-sans-pro/900.css';

body {
  margin: 0;
  font-family: $font-family;
  background-color: $background-color;
}

button {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.d-flex {
  display: flex;
}

.flex-auto {
  flex: 1 1 0;
}
