$font-family: 'Source Sans Pro', sans-serif;

$grey-200: #a3a0a0;
$grey-300: #757070;
$grey-500: #655f5f;

$text-color: $grey-500;

$primary-color: #8200FF;
$secondary-color: #5601a7;

$background-color: #fff;
